<html>

<head>
 <link rel="stylesheet" type="text/css" href="/styles.css">
 
<title>{{ data.title }}</title>

</head>

<body>

   <h1> {{ data.title }}</h1><span> Category: {{data.category}}
   <br> by {{ data.author }}
   <hr>
   {{{ data.body_html }}}
   
</body>

</html>





