<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>{{ data.title}}</title>

  <!-- Bootstrap core CSS -->
  <link href="/views/template-starter-02/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/comment.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="/views/template-starter-02/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

  <!-- Custom styles for this template -->
  <link href="/views/template-starter-02/css/clean-blog.css" rel="stylesheet">

  <link href="/views/template-starter-02/editor.css" rel="stylesheet">
  <link href="/views/template-starter-02/article.css" rel="stylesheet">


</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand" href="index.html">{{ data.author }}</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive"
        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="#" id="loggedininfo"></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ data.post_link}}">Refresh</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Blog</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/user/profile/{{data.author}}">About</a>
          </li>
          <li class="nav-item">
            <button class="btn btn-sm btn-success" href="#" id='bookmark_button' >Bookmark this</button>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('{{data.featured_image }}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-heading">
            <h1>{{ data.title }}</h1>
            <h5 class="subheading"> {{ data.description }}</h5>
            <span class="meta">Posted by {{ data.author }} on {{ data.createdAt }}</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Post Content -->
  <article>
    <div class="container" style="">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto" style="height:a">

          {{{ data.body_html}}}



        </div>
      </div>
    </div>
    <div class="author-box container">
<hr>
      {{>author }}
<hr>
    </div>
    <div class="interest-box container">

      {{>interests }}
    </div>
    <div class=" comment-box" style='background:rgb(46, 45, 70);  padding:4% 10%'>

      {{>comments }}

    </div>

   

<!-- sample card -->
















  </article>


  <!-- Footer -->
  <footer style="width: 100%; height:70px; background:black; color:white; bottom:0px;padding:10px 30px">
    &copy;2020 INWRITTEN.COM . 
    <p style="float:right"></p>

  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="/views/template-starter-02/vendor/jquery/jquery.min.js"></script>
  <script src="/views/template-starter-02/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Custom scripts for this template -->
  <script src="/views/template-starter-02/js/clean-blog.min.js"></script>
  <script src="/views/template-starter-02/js/auth.js"  ></script>
    <script src="/views/template-starter-02/js/follow.js"  ></script>

    <script src="/views/template-starter-02/js/bookmark.js" ></script>
    <script src="/views/template-starter-02/js/interests.js" ></script>
    <script src="/views/template-starter-02/js/comments.js" ></script>


</body>

</html>