


<div class="ui threaded comments" style="width:100%; color:white !important;">
  <h3 class="ui dividing header">Comments</h3>
  {{#if comment_data.length }}
    {{#each comment_data}}
 <div class="comment" >
    <a class="avatar">
    <img src="{{ commenter_id.display_picture }}">
    </a>
    <div class="content" >
      <a class="author" >{{ commenter_id.username}}</a>
      <div class="metadata">
        <span class="date">{{ createdAt}}</span>
      </div>
      <div class="text" >
      {{comment}}
      </div>
      <div class="actions">
        <a class="reply" >Reply</a>
        <a class="like">Like</a>

      </div>
    </div>
  </div>

{{/each}}
 <form class="ui reply form" id="formSubmit" method="POST" action="/comment/create" >
    <div class="field">
      <input name="post_id" hidden value={{data._id}} />
      <input name="commenter_id"  hidden id="commenter_id" />
      
      <div id="textarea">
      <textarea style="width:90%" name="comment" id='comment' required minlength="10" ></textarea>
         <button type='submit'>Submit</button>

      </div>
    </div>
  </form>
</div>

  {{else}}
No comments here. Be the first to comment!

 <form class="ui reply form" id="formSubmit" method="POST" action="/comment/create" >
    <div class="field">
      <input name="post_id" hidden value={{data._id}} />
      <input name="commenter_id"  hidden id="commenter_id" />
      
      <div id="textarea">
      <textarea style="width:90%" name="comment" id='comment' required minlength="10" ></textarea>
         <button type='submit'>Submit</button>

      </div>
    </div>
  </form>
{{/if}}








